@font-face {
    font-family: "OTEnjoystoriesBA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src:
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
            format("woff2"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
            format("woff"),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
            format("opentype");
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #5b2386;
    color: #fff;
}

@media screen and (max-width: 767px) {
    header h1 {
        width: 278px;
        height: 130px;
        background: url("../assets/images/clock.png") 50%/50% no-repeat;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 64px;
    }
    header h1 img {
        width: 261.04px;
        height: 54.95px;
    }

    main {
        margin-top: 32px;
    }

    .intro-quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro-quote blockquote {
        font-family: "OTEnjoystoriesBA", sans-serif;
        font-weight: 700;
        font-size: 22px;

        color: #f5df4d;
    }
    .intro-quote p {
        width: 330px;
        height: 68px;

        font-family: "GmarketSansMedium", sans-serif;
        font-size: 14px;

        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: url("../assets/images/quotes.png") center center no-repeat;
        background-size: 100%;
    }
    .intro-quote span {
        display: inline-block;
        line-height: 1.5;
    }
    .intro-quote dfn {
        font-family: "GmarketSansBold", sans-serif;
        font-size: 14px;
    }

    form {
        margin-top: 60px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: "GmarketSansMedium", sans-serif;
        font-weight: 400;
        font-size: 14px;

        position: relative;
    }

    form input {
        width: 156px;
        height: 38px;
        border-radius: 8px;
        text-align: center;

        font-family: "GmarketSansMedium", sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin: 0 8px;
    }
    form span {
        display: block;
        margin: 12px 0;
    }

    form input::placeholder {
        font-size: 14px;
        text-align: center;
        color: #babcbe;
    }
    form button {
        width: 240px;
        height: 72px;
        background-color: #fcee21;
        border-radius: 12px;

        font-family: "GmarketSansBold", sans-serif;
        font-weight: 500;
        font-size: 14px;

        color: #5b2386;
        box-sizing: border-box;
        padding: 0 38px 0 38px;
    }
    .form-btn-wrap {
        margin-top: 80px;
        display: flex;
        align-items: center;
        position: relative;
    }
    .form-btn-wrap button::before {
        content: "";
        background-image: url("../assets/images/click.png");
        background-repeat: no-repeat;
        background-size: cover;

        width: 43px;
        height: 48px;

        position: absolute;
        top: 40px;
        right: -43px;
    }
    .output {
        margin-top: 68px;
        font-family: "GmarketSansMedium", sans-serif;
        font-weight: 400;
        font-size: 12px;
    }
    .output .result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .output strong {
        margin: 0 12px;
        font-family: "GmarketSansBold", sans-serif;
        font-weight: 500;
        font-size: 24px;
    }
    .btn-group {
        display: flex;
        justify-content: center;
        gap: 12px;
    }
    .btn-group button {
        margin-top: 52px;
        font-family: "GmarketSansBold", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #5b2386;
    }
    .btn-group .modal-btn {
        border-radius: 12px;
        background-color: #fcee21;
        width: 203px;
        height: 46px;
    }
    .btn-group .share-btn {
        width: 102px;
        height: 46px;
        gap: 10px;
        border-radius: 12px;

        background: #fff;
        box-shadow: 2px 4px 10px 0 #00000026;
    }
    footer {
        margin-top: 60px;
        margin-bottom: 106px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer img {
        width: 125px;
        height: 28px;
    }
    footer small {
        margin-top: 12px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        font-size: 9px;
        line-height: 12px;
    }

    dialog {
        flex-direction: column;
        align-items: center;

        width: 330px;
        height: 500px;
        border-radius: 20px;
        box-shadow: 4px 4px 30px 0 #00000026;

        border: none;
        color: #5b2386;
    }
    dialog p:first-of-type span {
        display: none;
    }
    dialog p:first-of-type {
        width: 240px;
        height: 70px;

        margin-top: 40px;
        font-family: "OTEnjoystoriesBA", sans-serif;
        font-weight: 700;
        font-size: 64px;
    }
    dialog p:last-of-type {
        display: block;

        font-family: "OTEnjoystoriesBA", sans-serif;
        font-weight: 700;
        font-size: 36px;
    }
    dialog img {
        width: 240px;
        height: 188px;
        margin-top: 24px;
    }

    dialog button {
        color: #5b2386;
        font-family: "GmarketSansBold", sans-serif;
        font-weight: 500;
        font-size: 14px;
        background-color: #fcee21;
        width: 240px;
        height: 72px;
        border-radius: 12px;
        margin-top: 24px;
        box-shadow: 2px 4px 10px 0 #00000026;
    }
    dialog button span {
        display: block;
    }
}
